.App .Header {
  background-color: #fff;
  color: #000;
}

.spacing {
  flex-grow: 1;
}

.title-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
}
