.cart-container {
  width: 100%;
  max-width: 600px;
}

.cart-items-container {
  display: flex;
  flex-flow: column;
  gap: 10px;
  width: 100%;
}

.item-card {
}

.item-card-image {
  padding: 10px;
}

.item-card-actions {
  margin-left: auto;
  display: flex;
  flex-flow: row;
  gap: 5px;
}

.quantity-input {
  max-width: 80px;
  margin-right: 15px;
}

.quantity-input input {
  text-align: right;
}

.action-buttons {
  width: 100%;
  max-width: 400px;
}

.action-buttons > * {
  width: 100%;
}

