.product-card {
  max-width: 250px;
  height: 400px;
  display: flex;
  flex-flow: column;
}

.product-card .card-image {
  margin-top: 10px;
  max-width: 250px;
  max-height: 250px;
}

.product-card .card-content {
  padding: 10px 15px;
}

.product-card .card-actions {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-card .price-tag {
  padding-right: 8px;
}
